---
AccessModifierOffset: '-2'
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlinesLeft: 'false'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializersBeforeComma: 'false'
ColumnLimit: '80'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
Cpp11BracedListStyle: 'true'
DerivePointerAlignment: 'false'
DisableFormat: 'false'
ExperimentalAutoDetectBinPacking: 'false'
ForEachMacros: [
  'forall_rw_range_set_r_objects',
  'Forall_rw_range_set_r_objects',
  'forall_rw_range_set_w_objects',
  'Forall_rw_range_set_w_objects',
  'forall_rw_set_r_entries',
  'Forall_rw_set_r_entries',
  'forall_rw_set_w_entries',
  'Forall_rw_set_w_entries',
  'forall_goto_functions',
  'Forall_goto_functions',
  'forall_goto_program_instructions',
  'Forall_goto_program_instructions',
  'forall_objects',
  'Forall_objects',
  'forall_valid_objects',
  'Forall_valid_objects',
  'forall_nodes',
  'Forall_nodes',
  'forall_literals',
  'Forall_literals',
  'forall_operands',
  'Forall_operands',
  'forall_expr',
  'Forall_expr',
  'forall_expr_list',
  'Forall_expr_list',
  'forall_symbolptr_list',
  'Forall_symbolptr_list',
  'forall_guard',
  'Forall_guard',
  'forall_irep',
  'Forall_irep',
  'forall_named_irep',
  'Forall_named_irep',
  'forall_value_list',
  'Forall_value_list',
  'forall_symbols',
  'Forall_symbols',
  'forall_symbol_base_map',
  'Forall_symbol_base_map',
  'forall_symbol_module_map',
  'Forall_symbol_module_map',
  'forall_subtypes',
  'Forall_subtypes']
IndentCaseLabels: 'false'
IndentWidth: '2'
IndentWrappedFunctionNames: 'false'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: None
PenaltyBreakString: 10000
PointerAlignment: Right
ReflowComments: 'false'
SortIncludes: 'false'
SpaceAfterCStyleCast: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: Never
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '1'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Cpp11
TabWidth: '2'
UseTab: Never

...
