language: cpp

sudo: false

matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libwww-perl
            - g++-5
            - libubsan0
            - libboost-system-dev
            - libboost-filesystem-dev
      before_install:
        - mkdir bin ; ln -s /usr/bin/gcc-5 bin/gcc
      # env: COMPILER=g++-5 SAN_FLAGS="-fsanitize=undefined -fno-sanitize-recover -fno-omit-frame-pointer"
      env: COMPILER=g++-5
    - os: linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - libwww-perl
            - clang-3.7
            - libstdc++-5-dev
            - libubsan0
            - libboost-system-dev
            - libboost-filesystem-dev
      before_install:
        - mkdir bin ; ln -s /usr/bin/clang-3.7 bin/gcc
      # env: COMPILER=clang++-3.7 SAN_FLAGS="-fsanitize=undefined -fno-sanitize-recover=undefined,integer -fno-omit-frame-pointer"
      env: COMPILER=clang++-3.7
    - os: osx
      compiler: gcc
      env: COMPILER=g++
    - os: osx
      compiler: clang
      env: COMPILER=clang++
    - env: NAME="CPP-LINT"
      script: scripts/travis_lint.sh || true

script:
  - if [ -L bin/gcc ] ; then export PATH=$PWD/bin:$PATH ; fi ;
    make -C src minisat2-download &&
    make -C src CXX=$COMPILER CXXFLAGS="-Wall -O2 -g -Werror -Wno-deprecated-register -pedantic -Wno-sign-compare" -j2 &&
    env UBSAN_OPTIONS=print_stacktrace=1 make -C regression test &&
    make -C src CXX=$COMPILER CXXFLAGS=$FLAGS -j2 cegis.dir clobber.dir memory-models.dir musketeer.dir
