# Code owners are expected to complete reviews with feedback to the PR author or
# approval within two weeks.
#
# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel @chrisr-diffblue

# These files should rarely change

/src/big-int/ @kroening
/src/ansi-c/ @kroening @tautschnig @chrisr-diffblue
/src/assembler/ @kroening @tautschnig @chrisr-diffblue
/src/goto-cc/ @kroening @tautschnig @chrisr-diffblue
/src/linking/ @kroening @tautschnig @chrisr-diffblue
/src/memory-models/ @kroening @tautschnig
/src/goto-checker/ @kroening @tautschnig @peterschrammel
/src/goto-symex/ @kroening @tautschnig @peterschrammel @romainbrenguier
/src/json/ @kroening @tautschnig @peterschrammel
/src/json-symtab-language/ @martin-cs
/src/langapi/ @kroening @tautschnig @peterschrammel
/src/xmllang/ @kroening @tautschnig @peterschrammel
/src/nonstd/ @peterschrammel
/src/solvers/flattening @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/floatbv @martin-cs @kroening
/src/solvers/miniBDD @tautschnig @kroening
/src/solvers/prop @martin-cs @kroening @tautschnig @peterschrammel
/src/solvers/sat @martin-cs @kroening @tautschnig @peterschrammel
/src/symtab2gb/ @martin-cs
/jbmc/src/miniz/ @peterschrammel


# These files change frequently and changes are high-risk

/src/cbmc/ @kroening @tautschnig @peterschrammel
/src/goto-programs/ @kroening @tautschnig @peterschrammel
/src/util/ @kroening @tautschnig @peterschrammel
/src/solvers/refinement @martin-cs @romainbrenguier @peterschrammel
/src/solvers/strings @martin-cs @romainbrenguier @peterschrammel
/jbmc/src/java_bytecode/ @romainbrenguier @peterschrammel
/src/analyses/ @martin-cs @peterschrammel @chrisr-diffblue
/src/pointer-analysis/ @martin-cs @peterschrammel @chrisr-diffblue


# These files change frequently and changes are medium-risk

/src/goto-analyzer/ @martin-cs @chrisr-diffblue @peterschrammel
/src/goto-harness/ @martin-cs @chrisr-diffblue @peterschrammel
/src/goto-instrument/ @martin-cs @chrisr-diffblue @peterschrammel
/src/goto-instrument/contracts/ @tautschnig @feliperodri @SaswatPadhi
/doc/cprover-manual/contracts* @tautschnig @feliperodri @SaswatPadhi
/src/goto-diff/ @tautschnig @peterschrammel
/src/jsil/ @kroening @tautschnig
/src/memory-analyzer/ @tautschnig @chrisr-diffblue
/jbmc/src/jbmc/ @peterschrammel @romainbrenguier
/jbmc/src/janalyzer/ @peterschrammel @romainbrenguier
/jbmc/src/jdiff/ @peterschrammel
/src/cpp/ @kroening @tautschnig @peterschrammel
/src/solvers/smt2 @kroening @martin-cs @peterschrammel @thomasspriggs @NlightNFotis @TGWDB
/src/solvers/smt2_incremental @peterschrammel @thomasspriggs @NlightNFotis @TGWDB @chrisr-diffblue
/src/solvers/makefile @kroening @tautschnig @peterschrammel @chrisr-diffblue @thomasspriggs @NlightNFotis @TGWDB
/src/statement-list/ @kroening @tautschnig @peterschrammel @pkesseli

/cmake/        @diffblue/diffblue-opensource
CMakeLists.txt @diffblue/diffblue-opensource

# These files change frequently and changes are low-risk

/src/util/irep_ids.def

/unit/
/regression/
/jbmc/unit/
/jbmc/regression/

/scripts/ @diffblue/devops
/scripts/expected_doxygen_warnings.txt

# CI pipeline is the responsibility of the Open Source maintenance team at Diffblue.
/.github/ @diffblue/diffblue-opensource
src/config.inc @diffblue/diffblue-opensource
