code {
	color: red;
	background-color: WhiteSmoke;
	border-style: solid;
	border-width: 1px;
	border-color: LightGrey;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
}
