<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='CBMC Latest' Id='11d7368f-9dc9-43bd-92ca-2f30e76e6ab0' UpgradeCode='abf4ca1a-b923-43c2-b952-b13067f12928'
    Language='1033' Codepage='1252' Version='5.12.0' Manufacturer='DiffBlue Ltd.'>

    <Package Id='*' Keywords='Installer' Description="CBMC Installer" Platform='x64'
      Comments='CBMC is the C Bounded Model Checker.' Manufacturer='DiffBlue Ltd.'
      InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='CBMC.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="DiffBlue's CBMC Latest Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFile'>
        <Directory Id='DiffBlue' Name='DiffBlue'>
          <Directory Id='INSTALLDIR' Name='CBMC Latest'>
            <Component Id='MainExecutable' Guid='7c057fbe-a42f-4993-b0d5-9efef1e1e2da'>
              <File Id='cbmc' Name='cbmc.exe' DiskId='1' Source='build\bin\cbmc.exe' KeyPath='yes'></File>
              <File Id='goto_analyzer' Name='goto-analyzer.exe' DiskId='1' Source='build\bin\goto-analyzer.exe' KeyPath='no'></File>
              <File Id='goto_cl' Name='goto-cl.exe' DiskId='1' Source='build\bin\goto-cl.exe' KeyPath='no'></File>
              <File Id='goto_diff' Name='goto-diff.exe' DiskId='1' Source='build\bin\goto-diff.exe' KeyPath='no'></File>
              <File Id='goto_harness' Name='goto-harness.exe' DiskId='1' Source='build\bin\goto-harness.exe' KeyPath='no'></File>
              <File Id='goto_instrument' Name='goto-instrument.exe' DiskId='1' Source='build\bin\goto-instrument.exe' KeyPath='no'></File>

              <File Id='janalyzer' Name='janalyzer.exe' DiskId='1' Source='build/bin/janalyzer.exe' KeyPath='no'></File>
              <File Id='java_unit' Name='java-unit.exe' DiskId='1' Source='build/bin/java-unit.exe' KeyPath='no'></File>
              <File Id='jbmc' Name='jbmc.exe' DiskId='1' Source='build/bin/jbmc.exe' KeyPath='no'></File>
              <File Id='jdiff' Name='jdiff.exe' DiskId='1' Source='build/bin/jdiff.exe' KeyPath='no'></File>

              <RemoveFolder Id='DiffBlue' On='uninstall' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Title='CBMC' Description='The C Bounded Model Checker' Display='expand' ConfigurableDirectory='INSTALLDIR' Level='1'>
      <ComponentRef Id='MainExecutable' />
    </Feature>

    <Upgrade Id='2a813e68-d440-4d6d-a61c-9fadb9754452'>
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND' Minimum='5.12.0' IncludeMinimum='no' />
    </Upgrade>
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />
    <InstallExecuteSequence>
      <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
    </InstallExecuteSequence>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value=".github\workflows\vs2019\license.rtf" />
  </Product>
</Wix>
